<div class="container">
  <h1>Lista Filmova</h1>

  <!-- Input polja za pretragu -->
  <div class="search-container">
      <input type="text" class="search-bar" placeholder="Pretraži po naslovu..." [(ngModel)]="searchTitle" (input)="filterMovies()">
      <input type="text" class="search-bar" placeholder="Pretraži po režiseru..." [(ngModel)]="searchDirector" (input)="filterMovies()">

      <!-- Date picker za odabir godine -->
      <input type="date" class="search-bar" [(ngModel)]="searchYear" (change)="filterMovies()" max="9999-12-31">
  </div>

  <!-- Prikaz filmova u obliku kartica -->
  <div class="svifilmovi">
      <div class="lista" *ngFor="let film of filteredFilmovi">
          <div class="film">
              <div class="filmgore">
                  <img src="{{ film.poster }}" alt="{{ film.title }}">
              </div>
              <div class="filmdole">
                  <h2>{{ film.title }}</h2>
              </div>
          </div>
      </div>
  </div>
</div>
