<div class="container">
    <h1>Lista Filmova</h1>
    <table class="table table-striped listafilmova">
      <thead>
        <tr>
          <th>Naslov</th>
          <th>Režiser</th>
          <th>Godina</th>
          <th>Žanr</th>
          <th>Opis</th>
          <th>Slika</th>
        </tr>
      </thead>
      <tbody>
    </tbody>
</table>
</div>

<tr *ngFor="let film of filmovi">
  <td>{{ film.title }}</td>
  <td>{{ film.director.name }}</td>
  <td>{{ film.startDate }}</td>
  <td>{{ film.genre }}</td>
  <td>{{ film.shortDescription }}</td>
  <td><img src="{{ film.poster }}" alt=""></td>
</tr>