<div class="profile-container">

    <h1>👤 Moj profil</h1>
    
    <div class="profile-info">
      <p><strong>Korisničko ime:</strong> {{ username }}</p>
      <p><strong>Email:</strong> {{ email }}</p>
    </div>

      

  <form (submit)="updateProfile()">
    <label for="newUsername">Novo korisničko ime:</label>
    <input type="text" id="newUsername" [(ngModel)]="newUsername" name="newUsername" placeholder="Unesite novo korisničko ime">

    <label for="newPassword">Nova šifra:</label>
    <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" placeholder="Unesite novu šifru">

    <button type="submit">Sačuvaj promene</button>
  </form>

  <button class="logout-button" (click)="logout()">🔴 Odjavi se</button>
</div>

