<div class="profile-container">
    <div class="account-info">
        <h2 class="naloginfo">PODACI O NALOGU:</h2>
        <p class="naloginfo"><strong>KORISNIČKO IME:  {{ username }}</strong></p>
        <p class="naloginfo"><strong>E-MAIL: {{ email }}</strong></p>

        <label for="username">Novo korisničko ime:</label>
        <input type="text" id="username" placeholder="input za ime">

        <label for="password">Nova šifra:</label>
        <input type="password" id="password" placeholder="input za šifru">

        <button class="save-button">SACUVAJ PROMENE</button>
    </div>

    <div class="reservations">
        <h3>Vaše rezervacije:</h3>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Kolona 1</th>
                        <th>Kolona 2</th>
                        <th>Kolona 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Red 1</td><td>Podaci</td><td>Podaci</td></tr>
                    <tr><td>Red 2</td><td>Podaci</td><td>Podaci</td></tr>
                    <tr><td>Red 3</td><td>Podaci</td><td>Podaci</td></tr>
                    <tr><td>Red 4</td><td>Podaci</td><td>Podaci</td></tr>
                    <tr><td>Red 5</td><td>Podaci</td><td>Podaci</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
