.about-container {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
    color: #f5c518;
}

.about-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    animation: fadeIn 1s ease-in-out;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-image {
    margin-bottom: 250px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.about-image:hover {
    transform: scale(1.05);
}

.about-text {
    width: 50%;
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 1s ease-in-out forwards;
}

.about-text h2, .about-text h3 {
    color: #ffcc00;
    margin-top: 20px;
}

.about-text ul {
    list-style: none;
    padding: 0;
}

.about-text li {
    padding-left: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    position: relative;
    animation: fadeIn 1s ease-in-out;
}

.about-text li::before {
    content: "✔️";
    position: absolute;
    left: 0;
    color: #ffcc00;
    font-size: 18px;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-image {
        width: 80%;
        margin-bottom: 20px;
    }

    .about-text {
        width: 100%;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
