.movie-container {
    text-align: center;
    padding: 20px;
  }
  
  .movie-card {
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 10px;
    background: #222;
    color: #f5c518;
    border-radius: 8px;
  }
  
  .movie-card img {
    width: 100%;
    border-radius: 8px;
  }
  